.user-list-container {
  padding: 20px;
}

.header {
  margin-bottom: 20px;
  .p-toolbar-group-left {
    display: flex;
    align-items: center;
    gap: 10px;

    p-button {
      margin-left: 20px;
    }
  }
}

.data {
  overflow: auto;
  max-height: calc(
    100vh - var(--p-toolbar-height, 56px) - var(--p-toolbar-padding, 16px) * 2 -
      var(--page-padding, 20px) * 2
  ); /* Accounts for toolbar height, its padding, and page padding */
  p-button:first-child {
    margin-right: 10px;
  }
}

.data .p-datatable-thead > tr > th {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(
    --surface-0
  ); /* Use PrimeNG theme variable for background to match theme; adjust if needed */
}

.welcome-message {
  margin-right: 10px;
  align-self: center;
}
